<!--
    This file for the login interface when a customer choose login step on the home page
-->
<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1><img style="width: 50px;height: 50px;"src="https://img.icons8.com/ios-glyphs/30/000000/user--v1.png"/></i></h1>
        <p>Create an account or login</p>
        <a href="/users/register" class="btn btn-primary btn-block mb-2"
          >Register</a>
        <a href="/users/login" class="btn btn-primary btn-block mb-2">Login</a>
        <a href="/users/login" class="btn btn-secondary btn-block">Home</a>
      </div>
    </div>
  </div>